<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3hh4xx0r.nfcvaultfree"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:name="com.t3hh4xx0r.nfcvaultfree.UberApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.t3hh4xx0r.nfcvaultfree.activities.MainActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter android:priority="999" >
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.t3hh4xx0r.nfcvaultfree.activities.LoginActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.t3hh4xx0r.nfcvaultfree.activities.AddPasswordActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:label="Add New Data"
            android:launchMode="singleTop" >
        </activity>
    </application>

</manifest>